.shell {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  --app-shell-header-height: 200px;
  --app-shell-header-offset: 200px;
}

.appHeaderContainer {
  height: 60px; /* Or your header's height */
  background-color: var(--mantine-color-dark-7);
  border-bottom: 1px solid var(--mantine-color-dark-5);
  display: flex;
  align-items: center;
}

.transportBarContainer {
  background-color: var(--mantine-color-dark-6);
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.innerAppShell {
  /* Ensures the AppShell takes up the remaining vertical space */
  height: 100%;
}

.header {
  background-color: var(--mantine-color-dark-7);
  border-bottom: 1px solid var(--mantine-color-dark-5);

  color: #e0e0e0;
  background-color: #707070; /* Darker metallic */
  border: 2px solid #505050;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.3),
    inset 0 -1px 2px rgba(0, 0, 0, 0.2),
    0 2px 3px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom, #888888, #606060);
}

.navbar {
  background-color: var(--mantine-color-dark-7);
  border-right: 1px solid var(--mantine-color-dark-4);
  height: 100%; /* Fill available height */
  overflow-y: auto;
}

.main {
  background-color: var(--mantine-color-dark-8);
}

.mainContentPadded {
  background-color: var(--mantine-color-dark-8); /* Or your desired background */
  height: 100%;
  overflow-y: auto;
  padding: var(--mantine-spacing-xs); /* Add some padding around the pedalboard */
}

.aside {
  background-color: var(--mantine-color-dark-7);
  border-left: 1px solid var(--mantine-color-dark-4);
  height: 100%; /* Fill available height */
  overflow-y: auto;
}

.mainContentArea {
  flex: 1; /* Takes remaining vertical space */
  overflow-y: auto; /* Allows scrolling for content that overflows */
  padding: var(--mantine-spacing-md); /* Add some overall padding */
  background-color: var(--mantine-color-dark-8);
}
