.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
}

.modulationButtonWithKnob {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.knobContainer {
  width: 100%;
  margin-bottom: 5px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.knobContainer:hover {
  opacity: 1;
}

.inactiveKnob {
  opacity: 0.3;
}

.modulationLabel {
  font-size: 0.7rem;
  color: var(--mantine-color-dimmed);
  margin-top: 2px;
}

.modulationLabelInfo {
  font-size: 0.65rem;
  margin-top: -2px;
}
