#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: var(--mantine-font-family-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-weight: 900;
  stroke: 2px #000;
  -webkit-text-stroke: 20px black;
  text-stroke: 20px black;
  paint-order: stroke fill;
  will-change: filter;
  transition: filter 300ms;
}

h1:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
}
