@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button, .mantine-Button-root {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 700;
  font-family: var(--mantine-font-family-monospace);
  text-transform: uppercase;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, .mantine-Button-root:hover {
  border-color: #646cff;
}
button:focus, .mantine-Button-root:focus,
button:focus-visible, .mantine-Button-root:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
